# Ignore virtual environment
venv/

# Ignore Flask instance folder (contains secrets, database, etc.)
instance/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore environment variables
.env

# OS/system files
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/
